
//DESKTOP
.app__projectDetails-container {
    height: 40vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    h2 {
        font-size: 8rem;
        font-weight: 700;
        line-height: 0.6;
        text-transform: uppercase;

        @media screen and (max-width: 600px) {
            font-size: 3rem;
            line-height: 0.8;
            text-align: center;
        }
    }

    p {
        font-size: 1.5rem;
        color: #0792d7;
        text-transform: uppercase;
        font-weight: 500;
        padding-bottom: 1rem;

        @media screen and (max-width: 600px) {
            font-size: 2rem;
        }
    }
  }
  
  .app__projectDetails-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;

  }

  .app__projectDetails-stack-img {
    height: 70px;
    width: auto;
    border: solid 1px black;
    box-shadow: 3px 3px 0 0 black;
    border-radius: 10px;

    @media screen and (max-width: 600px) {
        height: 50px;
    }
  }


  .app__projectDetails-project-container {
    display: flex;
    align-items: center;
    justify-content: center;

   
  }

  .app__projectDetails-project-info {
    width: 75vw;
    background-color: white;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    gap: 4rem;

    padding: 3rem;
    margin-bottom: 5rem;


    @media screen and (max-width: 600px) {
        flex-direction: column;
        padding: 2rem;
        gap: 2rem;
    }

    p {
        padding: 2rem 4rem;
        font-size: 1.3rem;

        @media screen and (max-width: 600px) {
            font-size: 1rem;
            padding: 1rem;
        }
    }
  }

  .app__projectDetails-project-info-right img {
    width: 600px;

    @media screen and (max-width: 600px) {
        width: 300px;
    }
  }







  
  