.app__about {
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.head-text {
    font-size: 7rem;
    font-weight: 700;
    
    span {
        color: #0792d7;
        font-weight: 800;
    }

    @media screen and (max-width: 400px) {
    font-size: 4rem;
    padding: 0 2rem;
    }
}

.app__profiles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.app__profile-item {
    width: 300px;

    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 6px 6px 0 0 black;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 2rem;
    padding: 2rem 3rem;

    img {
        width: 100%;
        height: 170px;
        border-radius: 50px;
        object-fit: cover;
    }

    h3 {
        font-weight: 600;
        font-size: 2.5rem;
        padding-bottom: 0.6rem;
    }

    p {
        line-height: 1.4;
    }

    @media screen and (min-width: 2000px) {
        width: 375px;
        margin: 2rem 4rem;

        img {
            height: 3200px;
        }
    
    }
}