
.app__home-section {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

    @media screen and (max-width: 400px) {
        flex-direction: column;
        height: auto;
        padding-bottom: 5rem;
    }
}

.app__home-content {
    width: 80vw;

    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 400px) {
        padding-top: 2rem;
        flex-direction: column;
    }
}

.app__home-social {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    @media screen and (max-width: 400px) {
        flex-direction: row;
        padding-bottom: 1.5rem;
    }
}

.app__home-social-icon {
    font-size: 2rem;
    color: black;

    &:hover {
        color: #0692D6;
    }
}

.app__home-data {
    @media screen and (max-width: 400px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
.app__home-title {
    font-size: 7rem;
    font-weight: 600;
    margin-bottom: 2rem;

    @media screen and (max-width: 400px) {
        font-size: 6rem;
        text-align: center;
    }

}

.app__home-subtitle {
    position: relative;
    font-size: 2rem;
    padding-right: 5.4rem;
    padding-left: 5rem;
    font-weight: 500;
    margin-bottom: 2rem;

    &:before {
        content: '';
        position: absolute;
        width: 70px;
        height: 2px;
        background-color: #0692D6;
        left: 0;
        top: 1rem;
    }
}

.app__home-description {
    max-width: 400px;
    margin-bottom: 2rem;

    @media screen and (max-width: 400px) {
        text-align: center;
    }
}

.app__home-button {
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    background-color: #0692D6;
    text-transform: uppercase;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    a {
        color: black;
    
        &:hover {
            color: #0692D6;
          
        }
      }

    &:hover {
      background-color: black;
      border: 1px solid #010100;
      transition-duration: 0.2s;
    }

    @media screen and (max-width: 400px) {
        margin-bottom: 2rem;
    }
   
  }


.app__home-img {
    background: url(../../../public/images/Jaime-Alcaraz-black.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 9px rgba(6, 146, 214, 0.4);
    order: 1;
    justify-self: center;
    width: 350px;
    height: 350px;
    animation: profile__animate 8s ease-in-out infinite 1s;

    @media screen and (max-width: 400px) {
        margin-top: 1rem;
        justify-self: center;
        align-self: center;
    }
}

@keyframes profile__animate {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30 70 40%;
    }
}