@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* BACKGROUND COLOR: #F6F6F7 */
/* TEXT COLOR: #010100 */

/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', 'Ubuntu', sans-serif;
  background-color: #F6F6F7;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL STYLES */
h1, h2, h3, h4, p {
  color: #010100;
}

h1 {
  font-size: 12rem;
  font-weight: 900;
  color: #010100;
  /* color: white; */
  line-height: 1;
  letter-spacing: -4px;
}

h2 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 0.8;
  text-transform: uppercase;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2.1;
}



/* CSS */

/* NAV BAR */

.nav {
  gap: 0.5rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 8vh;
  background-color: #F6F6F7;
  position: sticky;
  top: 0px;
}

.nav li {
  margin-right: 4rem;
  font-weight: 300;
  font-size: 0.9rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.nav a {
  color: #010100;
}

.nav a:hover {
  text-decoration: underline;
}

/* BUTTON */
.button {
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  background-color: #010100;
  color: white;
  text-transform: uppercase;
  /* border: 1px solid #FC6400; */
}



.button:hover {
  background-color: white;
  border: 1px solid #010100;
  color: #010100;
  transition-duration: 0.2s;
}

/* HOMEPAGE */

/* SECTION-TITLE */
.section-title {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-weight: 900;
}

/* HOME CONTAINER 1 */
.home-container-1 {
  display: flex;
  height: 85vh;
  text-align: left;
  align-items: center;
  margin: 1rem 0 3rem 3rem;
  /* background-color: white; */
}

/* HOME CONTAINER 2 */
.home-container-2 {
  height: auto;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem;
}

.home-h2-1 {
  margin-left: 4rem;
}

.home-h2-2 {
  -webkit-text-stroke: 2px #010100;
  color: #F6F6F7;
  margin-left: 4rem;

}


.home-info {
  width: 100%;
}

.home-card {
  /* border: solid 1px black; */
  display: flex;
  justify-content: space-between;
  height: auto;
  margin: 4rem 4rem;
}


.home-card img {
  width: 250px;
  height: auto;
}

.home-card h2 {
  margin-bottom: 1.5rem;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.4rem;
}


/* HOME CONTAINER 3 */

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
  margin: 6rem 4rem;
}

.images img {
  height: 200px;
  width: auto;
  background-color: #F6F6F7;
  border: solid 1px #010100;
}

/* HOME CONTAINER 4 */
.individual-project {
  border: solid 1px #010100;
  width: 85vw;
  margin: 5rem auto 7rem auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.individual-project img {
  width: 400px;
  height: 400px;
}

.individual-project h2 {
  font-weight: 800;
  text-transform: uppercase;
  padding-top: 2rem;
  padding-right: 4rem;
  padding-left: 4rem;
}

.individual-project h3 {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  /* padding-left: 4rem; */
  padding-bottom: 2rem;
}

.individual-project h3 {
  margin: 0;
  padding: 0;
}
.individual-project p {
  padding: 0 4rem;
}

.flex-container-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 4rem;
  gap: 0.5rem;
}

.technologies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2rem;
}

.technologies p {
  font-weight: 600;
  text-transform: uppercase;
}



/* ONE PROJECT */
.project-title {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title h2 {
  font-size: 10rem;
  font-weight: 900;
  margin-left: 3rem;
  margin-bottom: 0;
  line-height: 0.5;
}

.project-title p {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.flex-container-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 4rem;
  gap: 0.5rem;
}

.project-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.project-description-left {
  padding-left: 3rem;
  padding-right: 15rem;
}

.project-description-left h5 {
  padding-top: 1rem;
  font-weight: 500;
}

.project-description-left li {
  list-style-type: disc;
  margin-left: 3rem;
}


.project-description-right {
  margin-right: 3rem;
}

.image {
  width: 500px;
  height: 500px;
}


