@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* BACKGROUND COLOR: #F6F6F7 */
/* TEXT COLOR: #010100 */

/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Roboto', 'Ubuntu', sans-serif;
  background-color: #F6F6F7;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL STYLES */
h1, h2, h3, h4, p, a, li {
  color: #010100;
}

h1 {
  font-size: 12rem;
  font-weight: 900;
  color: #010100;
  /* color: white; */
  line-height: 1;
  letter-spacing: -4px;
}

h2 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 0.8;
  text-transform: uppercase;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 10px;
}

p {
  font-size: 1.1rem;
  font-weight: 300;
  line-height: 2.1;
}

a, p {
  text-decoration: none;
}



/* CSS */

/* MEDIA QUERIES */

/* MOBILE PHONE */
@media only screen and (max-width: 600px)  { 

  /* BUTTON */
  .button {
    padding: 0.6rem 1.2rem;
    border-radius: 1rem;
    background-color: #010100;
    text-transform: uppercase;
  }

  .button a {
    color: white;
  }


  /* NAV */
  .nav {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    height: 6vh;
    width: 100vw;
  }

  .nav li {
    font-size: 0.5rem;
    margin-right: 0;
    text-transform: uppercase;
    text-decoration: none;
  }

  /* HOME CONTAINER 1 */
  .home-container-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100vw;
    height: 30vh;
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
  }

  .home-container-1 h1 {
    font-size: 3.5rem;
    letter-spacing: normal;
  }

  
  /* HOME CONTAINER 2 */
  .home-container-2 {
    margin-bottom: 5rem;
  
  }
  .home-h2-1 {
    font-size: 3.5rem;
    margin-left: 3.5rem;
  }

  .home-h2-2 {
    -webkit-text-stroke: 2px #010100;
    color: #F6F6F7;
    font-size: 3.5rem;
    margin-left: 3.5rem;
  }

  .home-card {
    /* border: solid 1px black; */
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: center;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    text-align: center;
  }

  .home-card h3 {
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  .home-card img {
    width: 300px;
    height: auto;
  }

  .left {
    margin-bottom: 2rem;
  }

  .section-title {
    margin: 0;
    font-size: 2.5rem;
    font-family: 'Ubuntu';
    margin-bottom: 0.3rem;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;
  }

  .right {
    align-self: center;
    margin-left: 1rem;
  }

  /* HOME CONTAINER 3 */
  .images {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .images img {
    width: 200px;
    height: auto;
    background-color: #F6F6F7;
    border: solid 1px #010100;
  }

  /* HOME CONTAINER 4 */
  .individual-project {
    /* border: solid 1px #010100; */
    width: 85vw;
    margin: 5rem auto 7rem auto;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    margin-top: 2rem;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .individual-project img {
    width: 300px;
    height: auto;
    padding-bottom: 2rem;
    padding-right: 1rem;
  }
  
  .individual-project h2 {
    font-weight: 800;
    font-size: 2.5rem;
    padding-top: 2rem;
  }
  
  .individual-project h3 {
    font-size: 1.5rem;
  }
  
  .individual-project p {
    padding-top: 2rem;
    padding-right: 1.5rem;
    padding-left: 2rem;
    text-decoration: none;
  }
  
  .flex-container-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }
  
  .technologies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2rem;
  }
  
  .technologies p {
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  /* ONE PROJECT */
  .project-title {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .project-title h2 {
    font-size: 4rem;
    font-weight: 900;
    margin-left: 1.5rem;
    margin-bottom: 0;
    line-height: 0.8;
  }
  
  .project-title p {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .flex-container-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1.5rem;
    gap: 0.5rem;
  }
  
  .project-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
  }
  
  .project-description-left {
    padding-left: 1.5rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
  }
  
  .project-description-left h5 {
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
  }
  
  .project-description-left li {
    list-style-type: disc;
    margin-left: 3rem;
  }
  
  .image {
    width: 300px;
    height: auto;
  }
  
}

/* DESKTOP */
@media only screen and (min-width: 992px)  { 

  /* NAV BAR */

.nav {
  gap: 0.5rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 8vh;
  background-color: #F6F6F7;
  position: sticky;
  top: 0px;
}

.nav li {
  margin-right: 4rem;
  font-weight: 300;
  font-size: 0.9rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.nav a {
  color: #010100;
}

.nav a:hover {
  text-decoration: underline;
}

/* BUTTON */
.button {
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  background-color: #010100;
  text-transform: uppercase;
  /* border: 1px solid #FC6400; */
}

.button a {
  color: white;
}

.button a:hover {
  color: #010100;
}

.button:hover {
  background-color: white;
  border: 1px solid #010100;
  transition-duration: 0.2s;
}

/* HOMEPAGE */

/* HOME CONTAINER 1 */
.home-container-1 {
  display: flex;
  height: 85vh;
  text-align: left;
  align-items: center;
  margin: 1rem 0 3rem 3rem;
  /* background-color: white; */
}

/* HOME CONTAINER 2 */
.home-container-2 {
  height: 100vh;
  /* background-color: blue; */
  display: flex;
  align-items: center;
}

.home-h2-1 {
  margin-left: 4rem;
}

.home-h2-2 {
  -webkit-text-stroke: 2px #010100;
  color: #F6F6F7;
  margin-left: 4rem;
}


.home-info {
  width: 100%;
}

.home-card {
  /* border: solid 1px black; */
  display: flex;
  flex-direction: row;
  height: auto;
  padding-left: 4rem;
  padding-right: 8rem;
  justify-content: space-around;
  align-items: center;
}


.home-card img {
  width: 300px;
  height: auto;
}

.home-card h2 {
  margin-bottom: 0;
  font-size: 3.5rem;
  font-weight: 600;
  font-family: 'Ubuntu';
}

.home-card h3 {
  font-size: 2rem;
  padding-bottom: 4rem;
  font-family: 'Ubuntu';
  text-transform: uppercase;
}

.home-card p {
  padding-right: 5rem;
}

.left {
  width: 50%;
}

.section-title {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-weight: 900;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.4rem;
}


/* HOME CONTAINER 3 */

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
  margin: 6rem 4rem;
}

.images img {
  height: 200px;
  width: auto;
  background-color: #F6F6F7;
  border: solid 1px #010100;
}

/* HOME CONTAINER 4 */
.individual-project {
  /* border: solid 1px #010100; */
  width: 85vw;
  margin: 8rem auto 8rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
}

.individual-project img {
  width: 400px;
  height: auto;
}

.individual-project h2 {
  font-weight: 800;
  text-transform: uppercase;
}

.individual-project h3 {
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
}

.individual-project p {
  margin-bottom: 1.5rem;
}

.flex-container-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.technologies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}

.technologies p {
  font-weight: 600;
  text-transform: uppercase;
}



/* ONE PROJECT */
.project-title {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 3.5;
}

.project-title h2 {
  font-size: 10rem;
  font-weight: 900;
  margin-left: 3rem;
  margin-bottom: 0;
  line-height: 0.5;
}

.project-title p {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

.flex-container-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 4rem;
  gap: 0.5rem;
}

.project-description {
  /* border: solid 1px black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85vw;
  margin: 0 auto;
  margin-bottom: 6rem;
  gap: 5rem;
}

.project-description-left h5 {
  padding-top: 1rem;
  font-weight: 500;
}

.technologies {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
}

.image {
  width: 500px;
  height: auto;
}
}

/* LARGE SCREENS */
@media only screen and (min-width: 1600px) {
 /* NAV BAR */

 .nav {
  gap: 0.5rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 9vh;
  background-color: #F6F6F7;
  position: sticky;
  top: 0px;
}

.nav li {
  margin-right: 4rem;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.nav a {
  color: #010100;
}

.nav a:hover {
  text-decoration: underline;
}

/* BUTTON */
.button {
  padding: 0.8rem 1.5rem;
  border-radius: 1rem;
  background-color: #010100;
  text-transform: uppercase;
  /* border: 1px solid #FC6400; */
}

.button:hover {
  background-color: white;
  border: 1px solid #010100;
  transition-duration: 0.2s;
}

.button a {
  color: white;
}

.button a:hover {
  color: #010100;
}

/* HOMEPAGE */

/* HOME CONTAINER 1 */
.home-container-1 {
  display: flex;
  height: 85vh;
  text-align: left;
  align-items: center;
  margin: 1rem 0 3rem 3rem;
  /* background-color: white; */
}

/* HOME CONTAINER 2 */
.home-container-2 {
  height: 100vh;
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.home-h2-1 {
  margin-left: 4rem;
}

.home-h2-2 {
  -webkit-text-stroke: 2px #010100;
  color: #F6F6F7;
  margin-left: 4rem;
}


.home-info {
  width: 100%;
}

.home-card {
  /* border: solid 1px black; */
  display: flex;
  flex-direction: row;
  height: auto;
  padding-left: 8rem;
  padding-right: 12rem;
  justify-content: space-around;
  align-items: center;
}


.home-card img {
  width: 500px;
  height: auto;
}

.home-card h2 {
  margin-bottom: 0;
  font-size: 6.5rem;
  font-weight: 600;
  font-family: 'Ubuntu';
}

.home-card h3 {
  font-size: 3rem;
  padding-bottom: 4rem;
  font-family: 'Ubuntu';
  text-transform: uppercase;
}

.home-card p {
  padding-right: 5rem;
  font-size: 2rem;
}

.left {
  width: 50%;
}

.section-title {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-weight: 900;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.4rem;
}


/* HOME CONTAINER 3 */

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
  margin: 6rem 4rem;
}

.images img {
  height: 300px;
  width: auto;
  background-color: #F6F6F7;
  border: solid 1px #010100;
}

/* HOME CONTAINER 4 */
.individual-project {
  /* border: solid 1px #010100; */
  width: 85vw;
  margin: 12rem auto 12rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10rem;
}

.individual-project img {
  width: 400px;
  height: auto;
}

.individual-project h2 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 7rem;
}

.individual-project h3 {
  font-weight: 600;
  font-size: 3rem;
  text-transform: uppercase;
}

.individual-project p {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.flex-container-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.technologies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}

.technologies p {
  font-weight: 600;
  text-transform: uppercase;
}



/* ONE PROJECT */
.project-title {
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-title h2 {
  font-size: 15rem;
  font-weight: 900;
  margin-left: 3rem;
  margin-bottom: 0;
  line-height: 0.5;
}

.project-title p {
  font-size: 5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.flex-container-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 4rem;
  gap: 0.5rem;
}

.project-description {
  /* border: solid 1px black; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 85vw;
  margin: 0 auto;
  margin-bottom: 6rem;
  gap: 6rem;
}

.project-description-left {
  width: 50vw;
}

.project-description p {
  font-size: 1.5rem;
}

.project-description-left h5 {
  font-size: 1.5rem;
  padding-top: 2rem;
  font-weight: 500;
}

.technologies {
  display: flex;
  flex-direction: row;
  padding-top: 2rem;
}

.image {
  width: 500px;
  height: 500px;
}

}