@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* CSS RESET */
* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  background-color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* GENERAL STYLES */
h1, h2, h3, h4, p {
  color: white;
}

h1 {
  font-size: 7rem;
  font-weight: 700;
  color: #FC6400;
  /* color: white; */
  line-height: 1;
  letter-spacing: -4px;
}

h2 {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 0.8;
  text-transform: uppercase;
  margin-left: 4rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 10px;
}

p {
  font-size: 0.8rem;
}



/* CSS */

/* NAV BAR */

.nav {
  gap: 1rem;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  height: 10vh;
  /* background-color: tomato; */
  position: sticky;
  top: 0px;
}

.nav li {
  margin-right: 5rem;
}

a {
  text-decoration: none;
}

.nav a {
  color: #B2B3B2;
}

.nav a:hover {
  color: white;
}

/* BUTTON */
.button {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: #FC6400;
  /* border: 1px solid #FC6400; */
}

.button:hover {
  background-color: white;
  border: 1px solid #FC6400;
  
}

/* HOMEPAGE */

/* HOME CONTAINER 1 */
.home-container-1 {
  display: flex;
  height: 85vh;
  text-align: center;
  align-items: center;
  margin: 0 8rem 8rem 8rem;
  /* background-color: white; */
}

/* HOME CONTAINER 2 */

.home-container-2 {
  height: auto;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  margin-bottom: 7rem;
}


.home-h2-2 {
  -webkit-text-stroke: 2px white;
  color: black;
}

.home-card {
  /* border: solid 1px white; */
  display: flex;
  margin: 4rem;
  height: auto;
}


.home-card img {
  width: 400px;
  height: auto;
  padding-top: 4rem;
}


.home-info {
  align-self: center;
}

.right {
  padding: 0 6rem;
  height: auto;
}

/* HOME CONTAINER 3 */

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
  margin: 6rem 4rem;
}

.images img {
  height: 200px;
  width: auto;
  background-color: white;
  border: solid 1px white;
}

/* HOME CONTAINER 4 */

.individual-project {
  border: solid 1px white;
  width: 70vw;
  margin: 5rem auto;
  display: flex;
}

.individual-project img {
  width: 200px;
  height: 300px;
}