// DESKTOP
.app__navbar {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 6rem;
    padding-right: 6rem;

    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.8);

    h1 {
        font-size: 3rem;
        font-weight: 600;
    }

    a {
    text-decoration: none;
    color: #1C1D1D;
    font-weight: 600;
    transition: box-shadow 0.3s ease;

    &:hover {
    border-bottom: solid 1px black;
    }
     }

    @media screen and (max-width: 400px) {
        height: 10vh;
        flex-direction: column;
        gap: 1rem;

        padding-top: 2rem;
        padding-bottom: 2rem;
        padding-left: 0;
        padding-right: 0;

        h1 {
            font-size: 3rem;
        }
    }
}

.app__navbar-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    // Logo for big screens
    @media screen and (min-width: 2000px) {
        width: 180px;
        height: 40px;
    }
}

.app__navbar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    list-style: none;

    @media screen and (max-width: 900px) {
        display: none;
    }
}

// MOBILE PHONE
.app__navbar-mobile {
    width: 30px;
    height: 35px;
    position: relative;

    svg {
        width: 2rem;
        height: 2rem;
    }

    // Motion.div
    div {
        position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 5;
            padding: 1rem;
            width: 100%;
            height: 35vh;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            background-color: white;
            background-size: cover;
            background-repeat: repeat;

            box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);

            // Icons
            svg {
            width: 35px;
            height: 35px;
            color: black;
            margin-top: 1rem;
            margin-bottom: 4rem;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;

                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-direction: column;
                gap: 2rem;
            }

            li {
                font-size: 1.5rem;
            }
            @media screen and (min-width: 900px) {
                display: none;
            }
    }
    @media screen and (min-width: 900px) {
        display: none;
    }
}